extends ../body-layout

block styles
    link(href="/css/shopping-bot.css" rel="stylesheet")
block content
    .right_col(role="main")
        .page-title
            h4.title_left.m-b-15
                a(href="/v1.0/admin") خانه
                i.fa.fa-chevron-left.p-r-5.p-l-5
                a(href="/v1.0/admin/personnel")  لیست پرنسل

        .clearfix
        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_title
                    h2
                        | مشخصات کامل پرسنل
                    ul.nav.navbar-right.panel_toolbox
                        li
                            a.collapse-link
                                i.fa.fa-chevron-up
                    .clearfix
                .x_content
                    include ../partials/show-errors
                    form#form.form-horizontal.form-label-left(action=`` method="POST")
                        .table-responsive
                            table.table.text-center
                                tbody
                                    tr(style="color:goldenrod")
                                        th.text-center(width="30%") کدملی
                                        td
                                            input(value=user.nationalCode type="text" name="nationalCode")

                                    tr(style="color:goldenrod")
                                        th.text-center(width="30%") شماره تماس
                                        td
                                            input(value=user.phoneNumber type="text" name="phoneNumber")
                                    if(user.firstName)
                                        tr(style="color:goldenrod")
                                            th.text-center(width="30%") نام
                                            td
                                                input(value=user.firstName type="text" name="firstName")
                                        tr(style="color:goldenrod")
                                            th.text-center(width="30%")  نام خانوادگی
                                            td
                                                input(value=user.lastName type="text" name="lastName")
                                        tr(style="color:goldenrod")
                                            th.text-center(width="30%")  جنسیت
                                            td
                                                input(value=i18next("globals.Gender." + user.gender) type="text" name="gender")
                                        tr(style="color:goldenrod")
                                            th.text-center(width="30%")  تاریخ تولد
                                            td
                                                input(value=user.birthDay type="text" name="birthDay")
                                        tr(style="color:goldenrod")
                                            th.text-center(width="30%") وضعیت تاهل
                                            td
                                                input(value=i18next("globals.list-panel." + user.marital) type="text" name="marital")
                                        tr(style="color:goldenrod")
                                            th.text-center(width="30%") علاقه مندی ها
                                            td
                                                input(value=user.other_favorites ?user.other_favorites:i18next("globals.Favorite." + user.favorites) type="text" name="favorites")
                                        tr(style="color:goldenrod")
                                            th.text-center(width="30%") نام پدر
                                            td
                                                input(value=user.fatherName type="text" name="fatherName")
                                        tr(style="color:goldenrod")
                                            th.text-center(width="30%") استان
                                            td
                                                input(value=user.province.name type="text" name="province")
                                        tr(style="color:goldenrod")
                                            th.text-center(width="30%") شهر
                                            td
                                                input(value=user.city.name type="text" name="city")

                                    if(user.children && user.children.length >= 0 && user.childrenCount)
                                        tr(style="color:cornflowerblue")
                                            th.text-center(width="30%") تعداد فرزندان
                                            td
                                                input(value=user.childrenCount type="text" name="childrenCount")
                                        each val,num in user.children
                                            tr(style="color:cornflowerblue")
                                                th.text-center(width="30%") نام فرزند#{num+1}
                                                td
                                                    input(value=val.firstName type="text" name="childrenCount")
                                            tr(style="color:cornflowerblue")
                                                th.text-center(width="30%") شماره تماس فرزند#{num + 1}
                                                td
                                                    input(value=val.phoneNumber type="text" name="phoneNumber")
                                            tr(style="color:cornflowerblue")
                                                th.text-center(width="30%") کد ملی فرزند#{num + 1}
                                                td
                                                    input(value=val.nationalCode type="text" name="nationalCode")
                                            tr(style="color:cornflowerblue")
                                                th.text-center(width="30%") تاریخ تولد فرزند#{num + 1}
                                                td
                                                    input(value=val.birthDay type="text" name="birthDay")
                                            tr(style="color:cornflowerblue")
                                                th.text-center(width="30%")  تحصیلات فرزند#{num + 1}
                                                td
                                                    input(value=i18next("globals.ChildrenEducation." + val.education) type="text" name="education")
                                            tr(style="color:cornflowerblue")
                                                th.text-center(width="30%")  جنیست فرزند#{num + 1}
                                                td
                                                    input(value=i18next("globals.Gender." + val.gender) type="text" name="gender")
                                            tr(style="color:cornflowerblue")
                                                th.text-center(width="30%")  علاقه مندی فرزند#{num + 1}
                                                td
                                                    input(value=i18next("globals.Favorite." + val.favorites) type="text" name="favorites")
                                    if(user.spouse.firstName)
                                        tr(style="color:lightcoral")
                                            th.text-center(width="30%") نام همسر
                                            td
                                                input(value=user.spouse.firstName type="text" name="gender")
                                        tr(style="color:lightcoral")
                                            th.text-center(width="30%") فامیلی همسر
                                            td
                                                input(value=user.spouse.lastName type="text" name="gender")
                                        tr(style="color:lightcoral")
                                            th.text-center(width="30%") نام پدر همسر
                                            td
                                                input(value=user.spouse.fatherName type="text" name="gender")
                                        tr(style="color:lightcoral")
                                            th.text-center(width="30%") شماره تماس همسر
                                            td
                                                input(value=user.spouse.phoneNumber type="text" name="gender")
                                        tr(style="color:lightcoral")
                                            th.text-center(width="30%")  جنسیت همسر
                                            td
                                                input(value=i18next("globals.Gender." + user.spouse.gender) type="text" name="gender")
                                        tr(style="color:lightcoral")
                                            th.text-center(width="30%")  تاریخ تولد همسر
                                            td
                                                input(value=user.spouse.birthDay type="text" name="birthDay")
                                        tr(style="color:lightcoral")
                                            th.text-center(width="30%")   تحصیلات همسر
                                            td
                                                input(value=value=i18next("globals.Education." + user.spouse.education) type="text" name="education")



                    .col-md-6.col-md-offset-3
                        //input(type="hidden" name="recipientSelectionType" value=user._id)

                        //button#send.btn.btn-success(type="submit") ویرایش و تایید نهایی آگهی
                        button.btn.btn-danger(type="button" onclick="window.location='" + "/v1.0/admin/personnel"+ "'") بازگشت








block scripts
    script(src="/js/validator.js")
    script(src="/js/sweetalert2.all.min.js")
    script.
        $("#send").click(()=>{
            Swal.fire({
                title: 'ثبت نهایی',
                text: 'مدیر محترم , آیا از درخواست خود مطمعن هستید؟',
                imageUrl: $("#imgUrl").val(),
                imageWidth: 400,
                imageHeight: 200,
                showCancelButton: true,
                imageAlt: 'Custom image',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ثبت',
                cancelButtonText: 'لغو',
            }).then((result) => {
                if (result.value) {
                    $('#form').submit();
                    Swal.fire({title:'با موفقیت آگهی ثبت شد',confirmButtonText: 'باشه'})
                }
            })
        })


