extends ../body-layout

block content

    // page content
    .right_col(role="main")
        .page-title
            h4.title_left.m-b-15
                a(href="/v1.0/admin") خانه
                i.fa.fa-chevron-left.p-r-5.p-l-5
                | لیست پرسنل
        .clearfix


        .col-md-12.col-sm-12.col.xs-12
            .x_panel
                .x_title
                    h2
                        | جستجو
                    ul.nav.navbar-right.panel_toolbox
                        li
                            a.collapse-link
                                i.fa.fa-chevron-up
                    .clearfix
                .x_content
                    form.form-horizontal.form-label-left(action="" method="get" novalidate="")
                        .col-md-3.col-xs-12.form-group
                            input#firstName.form-control.col-md-7.col-xs-12(name="firstName" placeholder="نام" value=query && query.firstName ? query.firstName : "")
                        .col-md-3.col-xs-12.form-group
                            input#lastName.form-control.col-md-7.col-xs-12(name="lastName" placeholder="نام خانوادگی" value=query && query.lastName ? query.lastName : "")
                        .col-md-3.col-xs-12.form-group
                            input#nationalCode.form-control.col-md-7.col-xs-12(name="nationalCode" placeholder="کدملی" value=query && query.nationalCode ? query.nationalCode : "")
                        .col-md-3.col-xs-12.form-group
                            input#phoneNumber.form-control.col-md-7.col-xs-12(name="phoneNumber" placeholder="شماره تماس" value=query && query.phoneNumber ? query.phoneNumber : "")
                        .col-md-3.col-xs-12.form-group
                            select#gender.form-control.col-md-7.col-xs-12(name="gender")
                                option(value="") جنسیت
                                option(value="MALE", selected = (query && query.gender == "MALE")) #{i18next("globals.Gender.MALE")}
                                option(value="FEMALE", selected = (query && query.gender == "FEMALE")) #{i18next("globals.Gender.FEMALE")}
                        .col-md-3.col-xs-12.form-group
                            select#province.form-control.col-md-7.col-xs-12(name="province")
                                option(value="") انتخاب استان
                                    each val in province
                                        option(value=val._id, selected = (query && query.province == val._id)) #{val.name}
                        .col-md-3.col-xs-12.form-group
                            select#platform.form-control.col-md-7.col-xs-12(name="favorites")
                                option(value="") علاقه مندی ها
                                    each val, key in Favorites
                                     option(value=val, selected = (query && query.favorites == val)) #{i18next("globals.Favorite." + val)}

                        .col-md-3.col-xs-12.form-group
                            select#status.form-control.col-md-7.col-xs-12(name="status")
                                option(value="") وضعیت
                                option(value="ACTIVE", selected = (query && query.status == "ACTIVE")) #{i18next("globals.list-panel.ACTIVE")}
                                option(value="NOTACTIVE", selected = (query && query.status == "NOTACTIVE")) #{i18next("globals.list-panel.NOTACTIVE")}







                        .col-md-3.col-xs-12.form-group
                            button#send.btn.btn-success(type="submit") فیلتر کردن
                            button#reset.btn.btn-warning(type="button" onclick="window.location='/v1.0/admin/personnel?'") بازنشانی
                    form.form-horizontal.form-label-left(action=`/v1.0/admin/personnel/export-data?${query?JSON.stringify(query):null}` method="POST" novalidate="")

                        .col-md-6.col-xs-12.form-group
                            input(value=query name="val" hidden=true)
                            button#excel.btn.btn-info(type="submit")  خروجی اکسل

        .col-md-12.col-sm-12.col-xs-12
            .x_panel
                .x_title
                    h2
                        | لیست پرسنل
                    ul.nav.navbar-right.panel_toolbox
                        li
                            a.collapse-link
                                i.fa.fa-chevron-up
                        if session && session.access[Roles.Role].permission === Permission.RW
                            li
                                a(href="/v1.0/admin/personnel/create")
                                    i.fa.fa-plus
                    .clearfix
                .x_content
                    table#datatable-responsive.table.table-striped.table-bordered.dt-responsive(cellspacing="0" width="100%")
                        thead
                            tr
                                th ردیف
                                th وضعیت
                                th نام
                                th نام خانوادگی
                                th شماره تماس
                                th  کدملی
                                th  تاریخ تولد
                                th  استان
                                th  جنسیت
                                th  وضعیت تاهل
                                th  علاقه مندی ها
                                th  تنظیمات


block scripts
    // Datepicker
    script(src="/js/persian-date.min.js")
    script(src="/js/persian-datepicker.min.js")
